:root {
    --main-bg-color: black;
    --main-font-color: bisque;
    --standard-border-radius: 10px;
    font-size: 16px;
}

* {
    color: var(--main-font-color);
}

body, html {
    width: 100%;
}

html { 
    background: url(images/mystic-urbanjpg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* height: 100vh; */
}

h1 {
    font-size: clamp(20px, 8vw, 60px);
    margin-top: 4vh;
    text-align: center;

}

.main-container {
    width: 80%;
    min-width: 260px;
    height: fit-content;

    display: flex;
    align-items: center;
    margin-top: 5vh;

    background-color: rgba(0, 0, 0, 0.436);
    border: 1px solid grey;
    border-radius: var(--standard-border-radius) 
}


.secondary-bg {
    background: url(images/ancient-portals.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    align-self: stretch;
    width: 35%;    

    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: var(--standard-border-radius);
}


@media (max-width: 720px) {
    .main-container {
        flex-direction: column;
    }

    .secondary-bg {
        width: 100%;
        height: auto;
        
    }
  }


.byline {
    margin-top: 2vh;
    color: aliceblue;
    background-color: rgba(14, 13, 13, 0.655);
    padding: 1vw;
}

.icon-banner {
    margin-top: 10%;
    background-color: rgba(14, 13, 13, 0.655);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.icon-banner img {
    width: 8vw;
    min-width: 40px;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.form-container p {
    margin: 3vh clamp(10px, 5vw, 50px)
}

form {
    /* margin-left: 3vw; */
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}


input {

    width: 100%;
    align-self: start;
    /* margin: 1vw; */

}

label {
    display: flex;
flex-direction: column;
    gap: 0.5vw;
    /* text-align: start; */
    width: 100%;
}

.form-items {

    background-color: rgba(0, 0, 0, 0.436);

    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    
}

.form-items:focus-within {
    box-shadow: 1px 3px 6px rgb(255, 255, 255)
}



.form-items li {
    margin: 2vw;
    
    

}



.form-buttons {

    display: flex;
    gap: clamp(10px, 8vw, 100px);
    justify-content: center;



}

button {
    margin-top: 3vh;
    color: black;
    padding: clamp(5px, 2vw, 10px) clamp(10px, 3vw, 20px);
    font-size: clamp(16px, 2vw, 22px);
    background-color: black;
    color: bisque;
}


button:hover {
    box-shadow: 1px 3px 6px rgb(255, 255, 255)
}


